server {
    listen 80;
    server_name ${STROMY_CLIENT_APP_DOMAIN};

    location / {
      proxy_pass http://stromy-client-app;
    }
}

server {
    listen 80;
    server_name ${STROMY_ADMIN_APP_DOMAIN};

    location / {
      proxy_pass http://stromy-admin-app;
    }
}

server {
    listen 80;
    server_name ${STROMY_API_DOMAIN};

    location / {
      proxy_pass http://stromy-api;
    }
}